[Unit]
Description=Hikey 970 gitbook service

[Service]
Type=simple
User=bwbot
WorkingDirectory=/home/bwbot/data/src/gitbook/hikey970-doc
ExecStart=/usr/local/bin/gitbook --port 22230 --lrport 22330 serve

[Install]
WantedBy=multi-user.target
